@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #4a4947;
  background-color: #faf7f0;
  font-family: "Montserrat";
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("./fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./fonts/Montserrat-Bold.ttf");
}
